$red: hsl(0, 78%, 62%);
$cyan: hsl(180, 62%, 55%);
$orange: hsl(34, 97%, 64%);
$blue: hsl(212, 86%, 64%);
$very_dark_blue: hsl(234, 12%, 34%);
$grayish_blue: hsl(229, 6%, 66%);
$very_light_gray: hsl(0, 0%, 98%);

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 0.9375rem;
  font-family: Poppins;
}

img {
  display: block;
}

body {
  margin-block: 6rem;
  margin-inline: 2.5rem;
  background-color: $very_light_gray;
}

main {
  display: grid;
  grid-gap: 1em;
  grid-template-areas:
    "supervisor"
    "team-builder"
    "karma"
    "calculator";

  @media (min-width: 45rem) {
    align-items: center;
    grid-template-areas:
      "supervisor team-builder calculator"
      "supervisor karma calculator";
  }
}

header {
  text-align: center;
  margin-bottom: 4.5rem;
}

h1 {
  color: $very_dark_blue;
  font-size: 1.55rem;
  font-weight: 200;

  & > b {
    display: block;
    font-weight: 600;
  }
}

h2 {
  color: $very_dark_blue;
  font-size: 1.4rem;
  font-weight: 600;
}

p {
  color: $grayish_blue;
}

article {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 8px 10px $grayish_blue;
  border-top-color: $red;
  border-top-width: 4px;
  border-top-style: solid;

  img {
    margin-top: 1.5rem;
    margin-left: auto;
  }
}

article:nth-of-type(1) {
  grid-area: supervisor;
}

article.team-builder {
  grid-area: team-builder;
}

article.karma {
  grid-area: karma;
}

article.calculator {
  grid-area: calculator;
}
